.investors-page {
  margin-bottom: 128px;
}

.investors-page__board-content {

  h1,
  h2 {
    font-weight: 700;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  p {
    font-weight: 300;
    font-size: 28px;
    margin: 0;
  }

  a {
    .video();
    margin-top: 48px;
    margin-left: 220px;
  }
}

.investors-page__content {
  margin-top: 32px;
  margin-bottom: 64px;
}
