.news-show-page {
  margin-bottom: 128px;
}

.news-show-page__date {
  display: block;
  margin-top: 64px;
  margin-bottom: 32px;
}

.news-show-page__title {
  .title();
  margin-bottom: 8ex;
}

.news-show-page__content {
  margin-bottom: 32px;

  p {
    margin: 0;
  }
}
